.main {
  font-family: "Space Grotesk", sans-serif;
  margin: 0 auto;
  display: block;
  max-width: 1024px;
}

div {
  color: white;
}

.timeline {
  margin-bottom: 60px;
}
.timeline p {
  inline-size: 768px;
  max-width: 768px;
  overflow-wrap: break-word;
}
.main button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
}

.main button[data-direction="left"] {
  background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg)
    no-repeat;
  border: none;
  cursor: pointer;
  height: 80px;
  outline: 0;
  position: relative;
  top: 0px;
  left: -16px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.main button[data-direction="right"] {
  background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg)
    no-repeat;
  border: none;
  cursor: pointer;
  height: 80px;
  outline: 0;
  position: relative;
  top: 40px;
  left: 16px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/*
.main button:last-of-type:before {
  content: "-->";
}
*/
.timeline-parts p {
  inline-size: 180px;
  overflow-wrap: break-word;
}

.styles-module_item-container__a8zaY {
  display: flex;
  justify-content: center;
}
